{{template "base" .}}

{{define "content"}}

    <div id="vila1-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#vila1-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#vila1-carousel" data-slide-to="1"></li>
            <li data-target="#vila1-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/static/images/cisarua1.webp" alt="Ruang tamu" height="300">
            </div>
            <div class="carousel-caption d-none d-md-block">
                <h5>Pesona Lembah, Cisarua</h5>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/images/cisarua2.webp" alt="Taman" height="300">
            </div>
            <div class="carousel-caption d-none d-md-block">
                <h5>Pesona Lembah, Cisarua</h5>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/images/cisarua4.webp" alt="Ruang Tidur" height="300">
            </div>
            <div class="carousel-caption d-none d-md-block">
                <h5>Pesona Lembah, Cisarua</h5>
            </div>

        </div>
        <a class="carousel-control-prev" href="#vila1-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"> </span>
        </a>
        <a class="carousel-control-next" href="#vila1-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"> </span>
        </a>
    </div>

<div class="container bg-light">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-3">Selamat datang di Pesona Lembah, Cisarua</h1>
            <p>Dapatkan diskon tambahan dengan <a href="http://login">login</a> terlebih dahulu </p>
            <p>
                <b>Pesona Lembah, Cisarua</b> menawarkan akomodasi dengan kolam renang pribadi, pemandangan taman, dan balkon di Cisarua. Akomodasi ini berjarak 36 km dari Depok, dan Anda dapat memanfaatkan Wi-Fi gratis dan parkir pribadi yang tersedia di tempat.
            </p>
            <p>
                Vila ini memiliki 3 kamar tidur, 3 kamar mandi, TV satelit layar datar, ruang makan, dapur lengkap, dan teras dengan pemandangan kolam renang.
            </p>
            <p>
                Vila ini memiliki teras. Fasilitas barbekyu tersedia untuk Anda, dan Anda juga dapat bersantai di taman, di samping kolam renang outdoor, atau di area lounge bersama.
                Puncak berjarak 5 km dari Bogor Arthill Villa, sedangkan Bogor berjarak 28 km. Bandara terdekat adalah Bandara Husein Sastranegara, 96 km dari akomodasi.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/reserve" class="btn btn-success">Pesan Sekarang</a>
        </div>
    </div>


</div>
{{end}}